*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 .container{
    display: grid;
    gap: 7px;
    height: 100vh;
    grid-template-columns: 
 }
 
.item{
    background-color: black;
    border-radius: 1px solid white;
    color: white;
}
.J{
    grid-column: 1/5;
}
.K{
    grid-row: 2/4;
}
.M{
    grid-column:3 ;
    grid-row: 2/4 ;
}
.Q{
    grid-column: 1;
}
.P{
    grid-column: 4;
    grid-row:3/5 ;
}
.T{
    grid-column: 1/5;
}